[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
check-manifest = "*"
coveralls = "*"
flake8 = "*"
kenlm = {git = "git://github.com/kpu/kenlm.git"}
nltk = "*"
pyroma = "*"
pytest = "*"
pytest-runner = "*"
readme_renderer = {extras = ["md"],version = "*"}
recommonmark = "*"
sphinx = "*"
twine = "*"
yapf = "*"

[packages]

[requires]
python_version = "3.8"
