check-manifest==0.37
coveralls==1.5.1
flake8==3.6.0
git+git://github.com/kpu/kenlm.git@a1fcd16228eaf95edd36c83db4cc6ba1d65ed9d4#egg=kenlm
nltk==3.4
pyroma==2.4
pytest-runner==4.2
pytest==4.0.1
readme_renderer[md]==24.0
recommonmark==0.4.0
sphinx==1.8.2
twine==1.12.1
yapf==0.25.0
